<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather_ic.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>About</title>
</head>
<body>
    {{>header}}
    <div>
        <p>
            This app was created with mostly node.js and it uses data from mapbox.com and weatherstack.com.
        </p>
    </div>
    <div>
        <img class="info" src="./img/info.jpg">
    </div>
    {{>para}}
    {{>footer}}
</body>
</html>